@page "/"

<!-- #region -->
@* <ListComponent Name="FoodList!" Data="" ItemType="">

</ListComponent> *@


@* <ListComponent Name="Weather List" Data="forecasts" ItemType="WeatherForecast">
    <HeadTemplet>
        <th>Date</th>
        <th>Temp. (C)</th>
        <th>Temp. (F)</th>
        <th>Summary</th>
    </HeadTemplet>
    <RowTemplet>
        <td>@context.Date</td>
        <td>@context.TemperatureC</td>
        <td>@context.TemperatureF</td>
        <td>@context.Summary</td>
    </RowTemplet>
    <ContentTemplet>
    @displayPass
        
        @context
        @forecasts!.Count()
    </ContentTemplet>
</ListComponent> 

<RenderTest />
<PasswordEntry @bind-inerpassword=displayPass />
*@



@* 
<input type="text" @bind=Context @oninput=input />
<br>
@Context 
@code{
    String Context="What is Your Day?";
    void input(ChangeEventArgs e){
        Context=e.Value!.ToString()+",";
    }
*@

@* @if(DataList is null){
    <p>loading...</p>
}else{
@DataList;
} *@
<!-- #endregion -->

Id:<input type="number" @bind=dept!.Id>
<br>
Name:<input type="text" @bind=dept.Name>
<br>
<button @onclick=addDepartment disabled=@isSubmitting >Add a NewDepartment</button>
<br>
<input type="number" @bind=SearchId>
<button @onclick=GetDataList class="primary" >GetData</button>
<button @onclick=GetAllDept class="secondary">RefreshDept</button>

<ListComponent Name="Department" ItemType="Department" Data="DataList">
<HeadTemplet>
    <th>Id</th>
    <th>Name</th>
</HeadTemplet>
<RowTemplet>
    <td>@context.Id</td>
    <td>@context.Name</td>
</RowTemplet>
<ContentTemplet>

    <p>TotalNumber:@DataList!.Count();</p>

</ContentTemplet>
</ListComponent>

@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager;
@code {
    //String? displayPass="未输入";
    //以下的方法都可以变成模板，都可以重复使用，需要封装到方法里？
    int SearchId ;
    List<Department>? DataList;
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender){
            GetAllDept();
            //StateHasChanged();
        }
        return  base.OnAfterRenderAsync(firstRender);
    }
    async void GetDataList(){
        DataList=await HttpClient
        .GetFromJsonAsync<List<Department>>
            (NavigationManager.BaseUri + "Departments"+"/"+SearchId);//+"?id="
        StateHasChanged();
    }

    async void GetAllDept(){
        DataList=await HttpClient
        .GetFromJsonAsync<List<Department>>
            (NavigationManager.BaseUri + "Departments/");
        StateHasChanged();
    }
    bool isSubmitting=false;
    Department? dept=new();
    //[System.ComponentModel.DataAnnotations.Required]
    //int newId;
    //String newName="newDepartmentName";
    async Task addDepartment(){
        if(dept is null)
        {return;}
        isSubmitting = true;
        await HttpClient.PostAsJsonAsync($"{NavigationManager.BaseUri}Departments", dept);
        isSubmitting = false;
        GetAllDept();
        //NavigationManager.NavigateTo("/",true);//refresh
    }

}

@code{
    
    //persons = await HttpClient.GetFromJsonAsync<List<Person>>(NavigationManager.BaseUri + "persons"+"/"+"?id="+id);
    //await HttpClient.PostAsJsonAsync($"{NavigationManager.BaseUri}persons", person);
  
    @* 
    Department[]? DataArray;
    async void GetDataArray(){
        DataArray=await HttpClient.GetFromJsonAsync<Department[]?>(NavigationManager.BaseUri + "Departments"+"/"+"?id="+id);
        StateHasChanged();
    }
    private List<WeatherForecast>? forecasts;
    protected override async Task OnInitializedAsync()
    {
        //forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    } 
    *@
}